doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Workshop
		meta(name='description', content='The HTML5 Herald')
		meta(name='author', content='SitePoint')
		link(rel='stylesheet', href='css/styles.css?v=1.0')
		//if lt IE 9
			script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
	body
		h1 Bienvenido a HTML5 y CSS3
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non tellus id ipsum dapibus accumsan ac in lacus. Praesent hendrerit id lacus a lobortis. Donec efficitur eros varius luctus imperdiet. Etiam vehicula convallis interdum. Donec aliquam sapien sed hendrerit feugiat. Quisque rhoncus finibus lacus blandit condimentum. Praesent feugiat, eros in tincidunt gravida, ligula mauris dignissim mi, auctor hendrerit enim odio sed odio. Nullam vitae justo ex. Sed id nulla faucibus, elementum nulla ut, imperdiet quam. Pellentesque lobortis, nisi quis facilisis congue, felis ligula pellentesque magna, sed cursus nunc ligula quis nulla. Nulla ultrices interdum fermentum. Integer vehicula magna non accumsan faucibus. Donec justo magna, venenatis et est quis, sagittis tristique ante. Nulla sed augue risus. Praesent vitae metus eget erat malesuada tempus sodales in lacus. 